.skills-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 30dvh;
	gap: 1.5rem;
	padding: 2rem 2rem;
	border-bottom: solid 6px var(--accent-light-clr);
	background-color: var(--secondary-clr);
}

.skills-carousel {
	width: 100%;
	overflow: hidden;
}

.skills-content {
	display: flex;
	width: 102%;
	gap: 1.5rem;
	justify-content: center;
	flex-wrap: wrap;
}

.skill {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	transition: all 0.3s ease;
}

.skill-info {
	background-color: var(--accent-dark-clr);
	color: #fff;
	padding: 10px;
	border-radius: 8px;
	white-space: normal; /* Change to normal to allow wrapping */
	text-align: left; /* Align text to the left */
	width: auto; /* Adjust width */
	max-width: 250px; /* Limit max width */
	margin-left: 1rem;
}

.skill-info h3 {
	margin: 0;
	font-size: 1.2rem;
}

.skill-info p {
	margin: 5px 0 0 0;
	font-size: 0.9rem;
}

@media (max-width: 510px) {
	.skills-wrapper {
		height: auto;
		justify-content: center;
		align-items: center;
	}
	.skills-content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 425px) {
	.skills-content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
