.home-wrapper {
	position: relative;
	height: 91vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 6px solid var(--accent-light-clr);
	overflow: hidden;
	background-color: var(--accent-dark-clr);
}

.background-ele {
	height: 100%;
	width: 100%;
	background-image: url(/public/masthead-me.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	opacity: 0.4;
}

.background-image {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
	position: absolute;
	right: 6px;
	width: 45%;
	height: 100%;
	opacity: 1;
	z-index: 1;
}

.home-content {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 3rem;
	flex-wrap: wrap;
	gap: 2rem;
	z-index: 2; /* Ensure it is above the background image */
}

.home-titles {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	padding: 0 0 0 1rem;
}

.home-titles h1 {
	font-size: 100px;
}

.home-p {
	font-size: var(--fs-medium);
	font-weight: 800;
	padding: 0 0 0 1rem;
}
.button-holder {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: start;
	gap: 1rem;
	padding-left: 1.5rem;
}

.button {
	cursor: pointer;
	max-width: fit-content;
	padding: 0.5rem 1.5rem;
	font-size: medium;
	border-radius: 14px;
	border: solid 3px var(--accent-light-clr);
	background-color: var(--accent-dark-clr);
}

.work-btn {
	background-color: var(--secondary-clr);
}

.download-link {
	opacity: 1;
	border-radius: 14px;
	border: solid 3px var(--accent-light-clr);
	font-family: 'Roboto', sans-serif;
}

.download-link:hover {
	.inside-btn {
		color: var(--accent-dark-clr);
	}
}

.inside-btn {
	color: var(--accent-light-clr);
	opacity: 1;
	font-size: var(--fs-small);
}
