@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--ff-headers: 'Anton SC', sans-serif;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	--fs-small: 16px;
	--fs-medium: 24px;
	--fs-large: 40px;
	--fs-xlarge: 70px;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #000000;
	--primary-clr: #3e3636;
	--secondary-clr: #000000;
	--accent-dark-clr: #000000;
	--accent-light-clr: #ffd523;
	--text-color: #f5eded;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-height: 100vh;
}

h1,
h2,
h3,
p,
a {
	color: var(--text-color);
}

h1 {
	font-family: var(--ff-headers);
	font-size: var(--fs-xlarge);
	line-height: 1.1;
	text-decoration: underline var(--accent-light-clr);
	margin: 0;
}

p {
	font-size: var(--fs-small);
}

a {
	font-family: var(--ff-headers);
	text-decoration: none;
	color: var(--text-color);
	cursor: pointer;
	opacity: 0.5;
}

li {
	list-style: none;
}
