.socials-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials-ul {
	display: flex;
	gap: 2rem;
	justify-content: center;
	align-items: center;
	padding-left: 0;
}

.social-link {
	transition: all 0.3s ease;
}

.social-link:hover {
	opacity: 1;
	color: var(--accent-light-clr);
}
